Django
mysqlclient
django-crispy-forms
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
django-debug-toolbar

