Django
mysqlclient
django-crispy-forms
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
django-debug-toolbar
python-dateutil
firebase-admin
google-cloud-storage
google-auth
dj-database-url
psycopg2
python-decouple

