<!DOCTYPE html>
<html>
<head>
    <title>Password Reset</title>
</head>
<body>

<h2>Password Reset</h2>

<form method="post" action="{% url 'reset-password' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    <label for="new_password">New Password:</label>
    <input type="password" name="new_password" required>
    <br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" name="confirm_password" required>
    <br>
    <button type="submit">Reset Password</button>
</form>

</body>
</html>

